<h1>{{title}} {{slug}}</h1>

<dl>
  <dt>Title</dt>
  <dd>{{title}}</dd>

  <dt>Content</dt>
  <dd>{{content}}</dd>
</dl>

<p>
  Created at: {{formatted-date createdAt 'MMMM Do, YYYY [at] h:mm a'}}
</p>